body  {
   background-image: url("https://thumbs.dreamstime.com/b/people-line-voting-three-choices-d-row-choosing-ballot-boxes-to-vote-38617384.jpg");
   background-size: auto;
}
.Container {
border-radius: 25px;
border: 0px solid;
box-shadow: 15px 15px #59d0eb;
background: #caedf5;
padding: 20px; 
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
width: 35%;
height: auto;  
}
h1{
   text-align:center;
   font-style: oblique;
   color:white;
}
.rect {
   border: 2px solid rgb(245, 243, 122);
   border-radius: 12px;
   color: rgb(230, 149, 28);
   background-color: blanchedalmond;
}
.oval {
   width: 100px;
   height: 50px;
   background: rgb(143, 181, 231);
   border-radius: 50%;
}
.oval:hover {
   background-color: green;
   color: white;
} 
.circle {
   margin: 0 auto;
   width: 50px;
   height: 50px;
   line-height: 50px;
   border-radius: 50%;
   font-size: 20px;
   color: #fff;
   text-align: center;
   background: rgb(228, 12, 12)
}
.center {
   margin-left: auto;
   margin-right: auto;
}
td{
 text-align: center;
}

